
    <!-- <div class="num dho row-centered"> -->

      <button class="hollow button" href="#">Primary Color</button>
        <button class="secondary hollow button" href="#">Secondary Color</button>
        <button class="success hollow button" href="#">Success Color</button>
        <button class="alert hollow button" href="#">Alert Color</button>
        <button class="warning hollow button" href="#">Warning Color</button>
        <div class="row">
				<button class="alpha alpha_96 hollow button pinky">ञ</button>
				<button class="alpha alpha_49 hollow button pinky">ज्ञ</button>
				<button class="alpha alpha_50 secondary hollow button ring">घ</button>
				<button class="alpha alpha_51 success hollow button middle">ध</button>
				<button class="alpha alpha_52 alert hollow button indexr">द्ध</button>
				<button class="alpha alpha_53 alert hollow button indexr">छ</button>
				<button class="alpha alpha_54 warning hollow button indexl">ट</button>
        <button class="alpha alpha_55 warning hollow button indexl">ठ</button>
				<button class="alpha alpha_56 success hollow button middle">ड</button>
				<button class="alpha alpha_57 secondary hollow button ring">ढ</button>
				<button class="alpha alpha_48 hollow button pinky">ण</button>
				<button class="alpha alpha_45 hollow button pinky">(</button>
				<button class="alpha alpha_61 hollow button pinky">.</button>
				<button class="alpha alpha_8 special btn btn-lg btn-default" style="width:80px;color:grey;"><span class="glyphicon glyphicon-arrow-left"></span></div>
			</div>
			<!-- <div class="q dho"> -->
      <div class="row">

				<button class="alpha alpha_9 special btn btn-lg btn-default" style="width:60px;color:grey;"><span class="glyphicon glyphicon-transfer"></span></button>
				<button class="alpha alpha_113  hollow button pinky">ञ</button>
				<button class="alpha alpha_119  secondary hollow button ring">ध</button>
				<button class="alpha alpha_101  success hollow button middle">भ</button>
				<button class="alpha alpha_114 alert hollow button indexr">च</button>
				<button class="alpha alpha_116 alert hollow button indexr">त</button>
				<button class="alpha alpha_121 warning hollow button indexl">थ</button>
				<button class="alpha alpha_117 warning hollow button indexl">ग</button>
				<button class="alpha alpha_105 success hollow button middle">ष</button>
				<button class="alpha alpha_111 secondary hollow button ring">य</button>
				<button class="alpha alpha_112 hollow button pinky">उ</button>
				<button class="alpha alpha_91 hollow button pinky">ृ</button>
				<button class="alpha alpha_93 hollow button pinky">े</button>
				<button class="alpha alpha_92 hollow button pinky" style="width:60px;color:grey;">\</button>
			</div>
			<!-- <div class="a dho"> -->
      <div class="row">

				<div class="alpha alpha_20 special btn btn-lg btn-default" style="width:70px;color:grey;">Caps <span class="glyphicon glyphicon-lock"></span></div>
				<div class="alpha alpha_97 hollow button pinky">ब</div>
				<div class="alpha alpha_115 secondary hollow button ring">क</div>
				<div class="alpha alpha_100  success hollow button middle">म</div>
				<div class="alpha alpha_102 alert hollow button indexr">ा </div>
				<div class="alpha alpha_103 alert hollow button indexr">न</div>
				<div class="alpha alpha_104 warning hollow button indexl">ज</div>
				<div class="alpha alpha_106 warning hollow button indexl">व</div>
				<div class="alpha alpha_107 success hollow button middle">प</div>
				<div class="alpha alpha_108 secondary hollow button ring">ि</div>
				<div class="alpha alpha_59 hollow button pinky">स</div>
				<div class="alpha alpha_91 hollow button pinky">ु</div>
				<div class="alpha alpha_13 btn special btn-lg btn-default" style="width:90px;color:grey;">Enter</div>
      </div>
			<!-- <div class="z dho"> -->
      <div class="row">

				<div class="alpha alpha_16 special btn btn-lg btn-default" style="width:120px;color:grey;">shift</div>
				<div class="alpha alpha_122  hollow button pinky">श</div>
				<div class="alpha alpha_120  secondary hollow button ring">ह</div>
				<div class="alpha alpha_99  success hollow button middle">ा</div>
				<div class="alpha alpha_118 alert hollow button indexr">ख</div>
				<div class="alpha alpha_98 alert hollow button indexr">द</div>
				<div class="alpha alpha_110 warning hollow button indexl">ल</div>
				<div class="alpha alpha_109 warning hollow button indexl">ु</div>
				<div class="alpha alpha_44 success hollow button middle">?</div>
				<div class="alpha alpha_46 secondary hollow button ring">/</div>
				<div class="alpha alpha_47 hollow button pinky">र</div>
				<div class="alpha alpha_16 special btn btn-lg btn-default" style="width:95px;color:grey;">Shift</div>
			</div>
			<!-- <div class="space dho"> -->
      <div class="row">
				<!--<div class="alpha alpha_16  btn btn-lg btn-default" style="width:50px;">Ctrl</div>
				<div class="alpha alpha_122  btn btn-lg btn-default" style="width:50px;">Fn</div>
				<div class="alpha alpha_120  btn btn-lg btn-default" style="width:50px;">win</div>
				<div class="alpha alpha_110 btn btn-lg btn-default" style="width:50px;">Alt</div>-->
				<button class="alpha alpha_109 success   button" style="width:250px;margin-left:220px;"></button>
				<!--<div class="alpha alpha_44 btn btn-lg btn-default" style="width:50px;">Alt</div>
				<div class="alpha alpha_46 btn btn-lg btn-default" style="width:50px;">Ctrl</div>-->
			</div>
</div>
